.circle{
  height: 100%;
  width: 100%;
  clip-path: circle(50% at 50% 50%);
  border-radius: 80%;
  transform: rotateZ(45deg);
}
.star{
  position:fixed;
  left:50%;
  top:50%;
  width:400px;
  height:2px;
  background: linear-gradient(to right, rgba(0,0,0,0) 20%,rgba(206,206,208,0.4) 100%);
  filter: drop-shadow(0 0 2.5px #758aae);
  animation: ShootingStars 2s linear infinite, Move 2s linear infinite
}
@keyframes ShootingStars {
  0%{
    width: 100px
  }
  50%{
    width: 600px
  }
  100%{
    width: 300px
  }
}
@keyframes Move{
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

<div class = "circle">
  <div class = "star"></div>
  <div class = "star"></div>
  <div class = "star"></div>
