html {
  scroll-behavior: smooth!important
}
@media (max-width: 576px){
  html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  }
}

a:link, a:visited {
  padding: 1px 1px;
    color: white;
  text-decoration: none;
}
a.fa{
  color: #7aa3f5;
}
a:hover{
    text-shadow: 0px 0px 25px white;
}
.bg-dark{
    background-color: #0a0d14!important;
}
body {
  padding-top: 70px;
  margin: 0;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  color: white;
  text-align: left;
  background-color: #0a0d14;
}
.bottom {
    height:25px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 12.5px;
}
.col-md-4, .col-sm-6 .col-sm-12, .col-xs-12 {
    padding: 5px;
  }
.collapse:(.show) {
    display: list-item!important;
}
.col-md-4:hover .overlay{
  opacity: 1;
}
.col-sm-6:hover .overlay{
  opacity: 1;
}
.col-sm-12:hover .overlay{
  opacity: 1;
}
.col-xs-12:hover .overlay{
  opacity: 1;
}
.container-fluid{
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}
.container-resume {
  width: auto;
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display:grid;
  justify-content: center
}
.container-portfolio {
  margin-top: 10px;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
}
.date{
  color: #96acda;
  font-family: 'Roboto', sans-serif;
}
.fa-linkedin {
    margin-left: 10px;
    background-color: #0a0d14;
    text-align: center;
}
.fa-twitter {
    margin-right: 10px;
    background-color: #0a0d14;
    text-align: center;
}
.fa {
    margin: 5px;
    font-size: 35px;
    border-radius: 35%;
    width: 40px;
    margin-bottom: 5px;
}
.footer-style{
  margin-bottom: 25px;
  bottom: 0;
  width:100%;
  height:auto;
}
h1{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: left;
  font-size: 1.00rem;
}
h2 {
    color: #96acda;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: left;
}
h3{margin: 0;
  font-family: 'Nobile', sans-serif;
  color: white;
  text-align: left;
  font-size: 1.5rem;

}
h5{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    color: #7aa3f5;
    text-align: left;
    margin-top: 25px
}
.header-bar{
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background-color: white;
    filter:drop-shadow(0 0 2px white);
}
nav{
  height: 50px;
  color: white !important;
  font-size: 1.5rem !important;
  font-family: 'Belleza', sans-serif;
}
.navbar-brand{
    font-size: 2.5rem !important;
}
.navbar-dark .navbar-nav .active>.nav-link{
  color: white
}
.navbar-dark .navbar-nav .nav-link{
  color: #7aa3f5
}
.navbar-dark .navbar-toggler {
    color: #0a0d14;
    border-color: white
}
.navbar-toggler {
    font-size: 1.5rem;
    background-color: #0a0d14;
  }
.nav-item{
    background-color: #0a0d14;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-itm, .active{
   background-color: white, 0.3;
   text-decoration-color:  #0a0d14;
   font-weight: 200;
   padding-top: 15px;
   padding-bottom: 15px;
}
.navbar-toggler-icon {
  border-color: white;
  color: white;
}
.fixed-top{
  width: 100%;
  height: 70px;
  z-index: 1;
}
p{
    font-size: 1.25rem;
    color: white;
    text-align: left;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
}
.toTop{
  color: #7aa3f5;
  font-family: 'Belleza', sans-serif;
}
li {
    display: list-item;
    text-align: left;
    content: "\2022";
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1rem;
    padding-top: 4px;
    text-align: left
}
ul{
  content: "\2022";
  color: white;
  list-style-type: disc;
  overflow: hidden;
}
.resume{
  margin-top: 5px
}
